.picture {
    display: block;
    width: 100%;

    padding: 1em 0px;

    > picture {
        width: 100%;
        > img {
            display: block;

            width: 100%;
            height: auto;

            border-radius: 5px;
        }
    }
    > .description {
        display: block;

        width: 100%;
        height: auto;

        text-align: center;
        font-size: 0.8em;
    }
}
