@mixin variables {
    --background-color: rgb(0, 200, 200);
    --text-color: white;
    --plus: 0px;
}

$width: 410px;
$height: 260px;
$background-color: var(--background-color);
$text-color: var(--text-color);

@mixin cover {
    z-index: 100;
    // background-color: rgba(0,0,0,0.4);
}

@mixin window {
    display: block;
    position: fixed;
    z-index: 101;

    top: calc(50% - ($height * 0.5) + var(--plus));
    left: calc(50% - ($width * 0.5) + var(--plus));

    width: $width;
    max-width: 90vw;
    height: $height;

    border-radius: 5px;

    padding: 5px;

    color: $text-color;

    background-color: $background-color;

    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.8), 5px 5px 10px rgba(0, 0, 0, 0.5);
}

@mixin header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 40px;

    > strong {
        font-size: 1.3rem;
    }
    > button {
        display: block;

        width: 40px;
        height: 40px;

        border: none;
        outline: none;

        background-color: transparent;

        font-family: var(--font-google-icons);
        font-size: 30px;
        color: inherit;
        text-align: center;
        list-style: 40px;
    }
}

@mixin body {
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    height: calc(100% - 110px);

    > .icon {
        display: block;

        width: 100px;
        height: auto;
        aspect-ratio: 1;

        font-family: var(--font-google-icons);
        font-size: 80px;
        color: inherit;
        text-align: center;
        list-style: 100px;
    }
    > .message {
        display: block;
        width: calc(100% - 140px);

        font-size: 1.2rem;
    }
}

@mixin footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    width: 100%;
    height: 70px;

    > button {
        display: block;

        height: 50px;
        min-width: 70px;

        border: 2px solid $text-color;
        border-radius: 5px;
        outline: none;

        padding: 0px 5px;

        margin-right: 10px;

        font-size: 18px;
        color: inherit;

        background-color: transparent;

        &:nth-last-child(1) {
            margin-right: 5px;
        }
    }
}

.message-box {
    @include variables();

    display: block;
    width: 100%;
    height: 0px;

    color: $text-color;

    > .window {
        @include window();
        > .header {
            @include header();
        }
        > .body {
            @include body();
        }
        > .footer {
            @include footer();
        }
    }

    > .cover {
        @include cover();
    }
}
