.buttons {
    display: block;

    width: 100%;
    height: 0px;

    > .wrap {
        display: flex;
        justify-content: space-between;

        width: 100%;
        height: auto;
        aspect-ratio: 5/1;

        > button {
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            position: relative;
            z-index: 1;

            width: 7%;
            height: 100%;

            outline: none;
            border: none;

            font-family: var(--font-google-icons);
            font-size: 40px;
            color: rgb(0, 190, 190);

            background-color: transparent;
        }
    }
}

.buttons.hide {
    display: none;
}
