@mixin variables {
    --width: 400px;
    --input-height: 40px;
    --title-height: 20px;

    --text-color: rgb(0, 255, 20);
    --title-text-color: aqua;
    --input-font-size: 16px;

    --helper-text-width: 150px;
    --helper-text-font-size: 14px;

    --underline-color: rgba(0, 0, 0, 0.2);

    --input-padding: 5px;
    --transition-time: 0.3s;
}

@mixin root {
    display: block;
    width: 100%;
    height: auto;
    // background-color: wheat;

    &.focus {
        position: relative;
        z-index: 20;
    }
}

@mixin wrap {
    display: block;
    width: 100%;
    height: auto;
}

@mixin wrap-focus {
    position: relative;
    z-index: 1;
}

@mixin input-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
}

.lapis-selection {
    @include variables();
    @include root();
    > .wrap {
        @include wrap();
        > .input-wrap {
            @include input-wrap();
        }
    }
}

.lapis-selection.focus {
    > .wrap {
        @include wrap-focus();
    }
}
