@mixin variables {
    --width: 400px;
    --input-height: 40px;
    --title-height: 20px;

    --text-color: rgb(10, 20, 20);
    --title-text-color: black;
    --input-font-size: 16px;

    --helper-text-width: 150px;
    --helper-text-font-size: 14px;

    --underline-color: rgba(0, 0, 0, 0.2);
}
