@mixin variables {
    --lapis-menu-strip-button-background-color: rgb(100, 100, 100);
}

@mixin root {
    display: block;

    width: auto;
    height: 40px;

    border: none;
    border-radius: 5px;
    outline: none;

    margin-left: 5px;
    margin-right: 5px;

    background-color: var(--lapis-menu-strip-button-background-color);

    box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.5), inset -2px -2px 2px rgba(0, 0, 0, 0.5), 3px 3px 3px black;
    cursor: pointer;
    transition: box-shadow 0.1s;

    &:active {
        box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.25), inset -1px -1px 1px rgba(0, 0, 0, 0.25),
            1px 1px 1px black;
    }
}

@mixin wrap {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    width: auto;
    height: 100%;

    color: white;
}

@mixin icon {
    display: block;
    overflow: hidden;
    //
    width: 40px;
    height: 40px;
    //
    font-family: 'Material Icons Outlined';
    font-size: 30px;
    font-weight: 100;
    line-height: 40px;
    text-align: center;
}

@mixin text {
    display: block;
    overflow: hidden;
    //
    width: auto;
    height: 40px;

    padding-left: 5px;
    padding-right: 10px;

    //
    font-size: 16px;
    line-height: 40px;
    text-align: center;
}

.lapis-menu-strip-button {
    @include variables();
    @include root();
    > div {
        @include wrap();
        > .icon {
            @include icon();
        }
        > .text {
            @include text();
        }
    }
}
