@mixin declare-variables {
    --number-of-children: 0;
}

@mixin lapis-menu-strip {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: visible;
    position: sticky;
    z-index: 0;

    top: 0px;

    width: 100%;
    height: 60px;

    background-color: rgb(41, 41, 41);
}

@mixin buttons {
    display: block;
    overflow: hidden;
    //
    width: 60px;
    height: 60px;
    //
    border-radius: 5px;
    //
    background-color: rgb(41, 41, 41);

    transition: all 0.1s;
    transition-delay: 0.1s;

    // &:hover{
    //     overflow: visible;
    //     height: calc((var(--number-of-children) + 1) * 60px);
    //     transition-delay: 0s;
    // }
}

@mixin buttons-hover {
    overflow: visible;
    height: calc((var(--number-of-children) + 1) * 60px);
    transition-delay: 0s;
}

@mixin icon {
    display: block;
    //
    width: 100%;
    height: 60px;
    //
    padding-top: 10px;
    padding-left: 10px;
    //
    &::before {
        content: 'menu';
        display: block;
        //
        width: 40px;
        height: 40px;
        //
        font-family: 'Material Icons Outlined';
        font-size: 30px;
        text-align: center;
        line-height: 40px;
        //
        transform: rotate(180deg);
        transition: all 0.3s;
    }
}

@mixin icon-hover {
    &::before {
        content: 'menu_open';
        transform: rotate(0deg);
    }
}

@mixin button-wrap {
    display: block;
    opacity: 0;
    //
    width: 100%;
    height: 60px;
    //
    padding-top: 10px;
    padding-left: 10px;
    transition: all 0.3s;
    transition-delay: 0s;
}

@mixin button-wrap-hover {
    opacity: 1;
    @for $i from 1 through 20 {
        &:nth-child(#{$i}) {
            transition-delay: #{($i + 2) / 10}s;
        }
    }
}

.lapis-menu-strip {
    @include lapis-menu-strip();
    > .buttons {
        @include buttons();
        > .icon {
            @include icon();
        }
        > .button-wrap {
            @include button-wrap();
        }
    }
}

.lapis-menu-strip {
    > .buttons:hover {
        @include buttons-hover();
        > .icon {
            @include icon-hover();
        }
        > .button-wrap {
            @include button-wrap-hover();
        }
    }
}
