$transition-time: 0.5s;

@mixin variable {
    --product-card-border-radius: 5px;
    --ratio: 1/1.5;
}

@mixin root {
    display: block;

    width: 230px;
    height: auto;
    aspect-ratio: var(--ratio);

    border-radius: var(--product-card-border-radius);

    background: linear-gradient(0deg, rgb(0, 255, 255), rgb(255, 50, 100));

    color: black;

    box-shadow: 2px 2px 4px gray;
}

@mixin layer-wrap {
    display: block;

    width: 100%;
    height: 0px;
}

@mixin layer {
    display: block;

    width: 100%;
    height: auto;
    aspect-ratio: var(--ratio);
}

@mixin discount-percent {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    z-index: 3;

    top: 0px;
    left: -4px;

    width: 40%;
    height: auto;
    // height: 31px;
    aspect-ratio: 80/31;

    border-radius: var(--product-card-border-radius);

    padding-bottom: 5px;

    background-image: url('../../discount_percent.svg');
    background-repeat: no-repeat;

    > strong {
        font-size: 14px;
        color: white;
    }
}

@mixin button-remove {
    display: none;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 4;

    left: calc(100% - 45px);
    top: 5px;

    width: 40px;
    height: 40px;

    border-radius: 5px;
    border: none;
    outline: none;

    font-family: 'Material Symbols Outlined';
    color: white;
    font-size: 30px;
    font-weight: 500;

    background-color: red;

    &::before {
        content: 'remove_shopping_cart';
    }

    &.display {
        display: flex;
        &:active {
            &::before {
                content: 'delete_forever';
            }
        }
    }
}

@mixin image {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    //
    width: 100%;
    height: auto;
    aspect-ratio: 1;
    //
    > img {
        display: block;
        position: relative;
        z-index: 1;

        width: 80%;
        height: auto;

        transition: all $transition-time;
    }
}

@mixin product-info-container {
    overflow: hidden;
    border-radius: var(--product-card-border-radius);
}

@mixin product-info {
    display: block;
    position: relative;
    z-index: 2;

    top: calc(100% / 3 * 2);

    width: 100%;
    height: calc(100% / 4 * 3);

    border-radius: var(--product-card-border-radius);

    padding: 5px;

    background-color: white;
    transition: top $transition-time;
}

@mixin product-info-hover {
    top: calc(100% / 4 * 1);
}

@mixin title {
    display: block;
    > a {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        overflow: hidden;
        //
        width: 100%;
        min-height: 46px;
        //
        color: rgb(50, 20, 0);
        font-size: 18px;
        line-height: 23px;
        font-weight: bold;
        &:hover {
            color: rgb(0, 255, 255);
        }
    }
}

@mixin price {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    //
    width: 100%;
    height: 30px;

    // currency unit
    > * {
        &::after {
            content: '\20ab';
            position: relative;
            //
            top: -0.4rem;
            //
            font-size: 80%;
        }
    }

    //
    > strong {
        //
        color: orangered;
        font-size: 19px;
    }
    > span {
        //
        padding-left: 10px;
        //
        color: gray;
        font-size: 13px;
        text-decoration: line-through;
    }
}

@mixin summary {
    display: block;
    overflow: hidden;

    width: 100%;
    height: calc(100% - 126px);

    padding: 5px;

    border-radius: var(--product-card-border-radius);

    background-color: rgba(0, 0, 0, 0);

    > p {
        color: rgb(50, 40, 30);
        font-size: 13px;
        margin-bottom: 3px;
    }
    transition: background-color 0.3s;
}

@mixin summary-hover {
    background-color: rgba(0, 0, 0, 0.1);
}

@mixin buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;

    height: 50px;

    > button {
        display: flex;
        justify-content: center;
        align-items: center;

        height: 40px;

        border-radius: 5px;

        outline: none;
        border: none;

        background-color: red;
        color: white;

        cursor: pointer;

        &.btn-buy-now {
            padding: 0px 5px;

            outline: none;
            border: none;

            font-weight: bold;
            font-size: 16px;
            font-family: 'Patrick Hand', cursive;
        }

        &.btn-add-to-cart {
            width: 40px;

            font-family: var(--font-google-icons);
            font-size: 25px;
            font-weight: bold;
        }
    }
}

@mixin input-quantity {
    display: block;

    height: 40px;
    width: 120px;

    border-radius: 5px;

    background-color: red;
    color: white;

    > .buttons {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        width: 100%;
        height: 0px;
        > button {
            display: flex;
            justify-content: center;
            align-items: center;

            height: 40px;
            width: 40px;

            border-radius: 5px;

            outline: none;
            border: none;

            background-color: transparent;

            color: white;
            font-family: var(--font-google-icons);
            font-size: 25px;
            font-weight: bold;
        }
    }
    > .quantity {
        display: block;

        width: 100%;
        height: 100%;

        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        line-height: 40px;
        font-size: 20px;
        font-weight: bold;

        cursor: default;
    }
}

.product-card {
    @include variable();
    @include root();
    > .layer-wrap {
        @include layer-wrap();
        > .layer {
            @include layer();
            > .discount-percent {
                @include discount-percent();
            }
            > .button-remove {
                @include button-remove();
            }
            > .image {
                @include image();
            }
            &.product-info-container {
                @include product-info-container();
                > .product-info {
                    @include product-info();
                    > .title {
                        @include title();
                    }
                    > .price {
                        @include price();
                    }
                    > .summary {
                        @include summary();
                    }
                    > .buttons {
                        @include buttons();
                        > .input-quantity {
                            @include input-quantity();
                        }
                    }
                }
            }
        }
    }
}

.product-card:hover {
    > .layer-wrap {
        > .layer {
            &.product-info-container {
                > .product-info {
                    @include product-info-hover();
                    > .summary {
                        @include summary-hover();
                    }
                }
            }
        }
    }
}
