@mixin variable {
    --product-card-border-radius: 5px;
    --ratio: 1/1.5;
}

@mixin root {
    // box-shadow: unset;
}

@mixin product-info {
    height: calc(100% / 4 * 3.5);
}

@mixin product-info-hover {
    top: calc(100% / 4 * 0.5);
}

@mixin buttons {
    > button {
        &.btn-buy-now {
            &.added-to-cart {
                display: none;
            }
        }
    }
}

.product-card {
    @include variable();
    @include root();
    > .layer-wrap {
        > .layer {
            &.product-info-container {
                > .product-info {
                    @include product-info();
                    > .buttons {
                        @include buttons();
                    }
                }
            }
        }
    }
}

.product-card:hover {
    > .layer-wrap {
        > .layer {
            &.product-info-container {
                > .product-info {
                    @include product-info-hover();
                }
            }
        }
    }
}
