@mixin root {
    display: block;

    width: 500px;
    max-width: 100%;
}

@mixin list-images-wrap {
    display: block;
    overflow: auto;

    width: 100%;
    height: auto;
    aspect-ratio: 1;

    margin-bottom: 10px;

    scroll-behavior: smooth;

    &::-webkit-scrollbar {
        display: none;
    }
}

@mixin navigation-bar-wrap {
    display: block;
    overflow: auto;

    width: 100%;
    height: auto;
    aspect-ratio: 5/1;

    scroll-behavior: smooth;
    &::-webkit-scrollbar {
        display: none;
    }
}

@mixin navigation-bar-wrap-center {
    display: flex;
    justify-content: center;
}

.images-product-slider {
    @include root();
    .list-images-wrap {
        @include list-images-wrap();
    }
    .navigation-bar-wrap {
        @include navigation-bar-wrap();
    }
}

.images-product-slider.center {
    .navigation-bar-wrap {
        @include navigation-bar-wrap-center();
    }
}
