@mixin root {
    display: block;
    overflow: hidden;

    width: 142px;
    height: 42px;

    border-radius: 21px;
    border: thin solid rgba(0, 0, 0, 0.1);
    // background-color: red;
}

@mixin buttons {
    display: flex;
    justify-content: space-between;

    width: 100%;
    height: 0px;
    > button {
        display: block;

        width: 40px;
        height: 40px;

        outline: none;
        border: none;
        border-radius: 5px;

        background-color: transparent;

        font-family: var(--font-google-icons);
        font-size: 30px;
        color: gray;

        &:active {
            color: var(--header-background-color);
        }
    }
}

@mixin input-container {
    display: block;
    width: 100%;
    height: 0px;

    > input[type='number'] {
        display: block;
        width: 60px;
        height: 40px;

        margin-left: auto;
        margin-right: auto;

        border: none;
        outline: none;

        color: inherit;
        font-weight: bold;
        font-size: 18px;
        color: var(--header-background-color);

        background-color: transparent;

        -moz-appearance: textfield;
        text-align: center;
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
        }
    }
}

.quantity-input {
    @include root();
    > .buttons {
        @include buttons();
    }
    > .input-container {
        @include input-container();
    }
}
