@mixin variable {
    --length: 0;
    --index: 1;
}

$length: var(--length);

@mixin image-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    float: left;

    width: calc(100% / $length);
    height: 100%;

    border-radius: 5px;
    border: 2px solid transparent;

    cursor: pointer;

    > img {
        width: 80%;
        height: auto;
        max-width: 100%;
        max-height: 100%;
    }

    &.highlight {
        border-color: blue;
        border-color: var(--header-background-color);
    }
}

.navigation-bar {
    display: block;

    width: calc(20% * $length);
    height: 100%;

    > .image-wrap {
        @include image-wrap();
    }
    &::after {
        content: '';
        display: block;

        width: 0px;
        height: 0px;

        clear: both;
    }
}
