@mixin variables {
    --height: 40px;
    --text-color: white;
    --highlight-text-color: white;
    --border-color: rgba(255, 255, 255, 0.1);
    --background-color: rgba(0, 50, 50, 0.95);
}

@mixin root {
    display: block;
    overflow: visible;

    width: 250px;
    height: var(--height);

    color: white;
    font-size: 16px;
}

@mixin wrap {
    --number-of-item: 0;

    display: block;
    overflow: hidden;

    width: 100%;
    height: var(--height);

    border-radius: 3px;

    transition: all 0.3s;

    &.expand {
        position: relative;
        z-index: 20;

        height: calc((var(--number-of-item) + 1) * var(--height));

        color: var(--highlight-text-color);
        background-color: var(--background-color);

        > label {
            color: var(--highlight-text-color);
        }
    }
}

@mixin label {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
    height: var(--height);

    border: 2px solid var(--border-color);
    border-radius: 3px;

    padding-left: 5px;

    color: var(--text-color);
}

@mixin ul {
    display: block;
    width: 100%;
    height: auto;
}

@mixin li {
    display: flex;
    align-items: center;

    width: 100%;
    height: var(--height);

    padding-left: 5px;

    cursor: pointer;

    &:hover {
        background-color: rgba(175, 175, 175, 0.5);
    }
}

.lapis-base-selection {
    @include variables();
    @include root();

    > .wrap {
        @include wrap();
        > label {
            @include label();
        }
        > ul {
            @include ul();
            > li {
                @include li();
            }
        }
    }
}
