@mixin variables {
    --helper-text-width: 120px;
}

@mixin root {
    display: none;
    &.display {
        display: flex;
    }
    align-items: center;
    flex-direction: column;

    width: 40px;
    height: auto;
    aspect-ratio: 1;

    border: none;
    outline: none;

    background-color: transparent;
}

@mixin icon {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    font-size: calc(var(--size) * 0.7);
    font-family: var(--font-google-icons);

    user-select: none;
}

@mixin helper-text {
    display: block;

    width: 0px;
    height: 0px;

    > div {
        display: none;
        position: relative;
        z-index: 10;

        left: calc(var(--helper-text-width) * -0.5);
        // top: calc(var(--size) * -0.5);

        width: var(--helper-text-width);
        height: auto;

        border-radius: 5px;

        padding: 5px;

        color: white;
        font-size: 1.05rem;
        font-family: sans-serif;

        background-color: black;
    }
}

@mixin helper-text-hover {
    > div {
        display: block;
    }
}

.lapis-base-button {
    @include variables();
    @include root();
    > .icon {
        @include icon();
    }
    > .helper-text {
        @include helper-text();
    }

    &:hover {
        > .helper-text.displayable {
            @include helper-text-hover();
        }
    }
}
