@mixin declare-variable {
    --color: rgb(255, 255, 255);
}

@mixin lapis-check-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: var(--lapis-width);
    height: 52px;
}

@mixin input {
    display: block;
    //
    width: 120px;
    height: 40px;
    //
    border: none;
    border-radius: 20px;
    outline: none;
    //
    background-color: rgba(50, 50, 50);
    //
    box-shadow: inset 0px 0px 0px 1px rgb(100, 120, 120), inset 0px 0px 0px 2px rgb(100, 100, 100),
        inset 4px 4px 2px rgba(0, 0, 0, 1), inset -2px -2px 2px rgba(200, 200, 200, 0.4);
    -webkit-appearance: none;
    transition: background-color 0.3s;
    transition-delay: 0s;
    cursor: pointer;
}

@mixin input-checked {
    background-color: var(--color);
    transition-delay: 0.3s;
}

@mixin input-button-toggle {
    content: 'sell';
    display: block;
    position: relative;
    //
    left: 0px;
    //
    width: 80px;
    height: 36px;
    //
    margin-top: 2px;
    margin-left: 2px;
    //
    border: none;
    border-radius: 20px;
    outline: none;
    //
    font-family: 'Material Icons Outlined';
    line-height: 40px;
    font-size: 22px;
    text-align: center;
    color: black;
    text-shadow: none;
    //
    background: linear-gradient(180deg, rgb(100, 100, 100), rgb(20, 20, 20));
    //
    box-shadow: inset 2px 2px 4px rgba(255, 255, 255, 0.2), inset -2px -2px 4px rgba(0, 0, 0, 0.5);
    transition: all 0.3s;
    // transition-delay: 0.1s;
}

@mixin input-button-toggle-checked {
    left: 36px;
    color: var(--color);
    text-shadow: 0px 0px 2px aqua, 0px 0px 4px rgba(0, 255, 255, 0.5), 0px 0px 6px rgba(0, 255, 255, 0.25);
}

@mixin title {
    display: block;
    width: auto;
    //
    margin-left: 10px;
    //
    font-size: 13px;
    color: var(--color);
}

.lapis-check-box {
    @include declare-variable();
    @include lapis-check-box();
    > input[type='checkbox'] {
        @include input();
        &::before {
            @include input-button-toggle();
        }
    }
    > input:checked[type='checkbox'] {
        @include input-checked();
        &::before {
            @include input-button-toggle-checked();
        }
    }
    > .title {
        @include title();
    }
}
