@mixin variable {
    --length: 0;
}

$length: var(--length);

@mixin image-wrap {
    display: block;
    float: left;

    width: calc(100% / $length);
    height: 100%;

    > picture {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;
        height: 100%;

        > img {
            width: 80%;
            height: auto;
            max-width: 100%;
            max-height: 100%;
        }
    }
}

.list-images {
    display: block;

    width: calc(100% * $length);
    height: 100%;

    > .image-wrap {
        @include image-wrap();
    }
    &::after {
        content: '';
        display: block;

        width: 0px;
        height: 0px;

        clear: both;
    }
}
