$height: 40px;

@mixin root {
    display: block;
    overflow: hidden;

    width: 100%;
    height: $height;
}

@mixin layer {
    display: block;
    width: 100%;
    height: 0px;
}

@mixin label-input {
    width: 100%;
    height: $height;

    padding-left: var(--input-padding);

    font-size: var(--input-font-size);
    color: var(--text-color);
    font-family: inherit;
}

@mixin label {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    @include label-input();

    &.focus {
        opacity: 0;
    }
}

@mixin input {
    display: block;
    position: relative;

    @include label-input();

    border: none;
    outline: none;

    background-color: transparent;
}

.input {
    @include root();
    > .layer {
        @include layer();
        > label {
            @include label();
        }
        > input {
            @include input();
        }
    }
}
