@mixin variables {
    --width: 400px;
    --input-height: 40px;
    --title-height: 20px;

    --text-color: rgb(10, 20, 20);
    --title-text-color: black;
    --input-font-size: 16px;

    --helper-text-width: 150px;
    --helper-text-font-size: 14px;

    --underline-color: rgba(0, 0, 0, 0.2);
}

$width: var(--width);
$input-height: var(--input-height);
$title-height: var(--title-height);

$text-color: var(--text-color);
$title-text-color: var(--title-text-color);
$input-font-size: var(--input-font-size);

$helper-text-width: var(--helper-text-width);
$helper-text-font-size: var(--helper-text-font-size);

$underline-color: var(--underline-color);

$input-padding: 5px;
$transition-time: 0.3s;

@mixin title {
    display: block;
    width: 100%;
    height: $title-height;
    > div {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        z-index: 0;

        top: $title-height;

        width: calc(100% - var(--input-height) * 2);
        height: $input-height;

        padding-left: $input-padding;

        font-size: $input-font-size;
        color: $text-color;
        font-family: inherit;

        transition: top $transition-time;
    }

    &.not-empty,
    &.typing {
        > div {
            top: 0px;

            height: 100%;

            font-size: 14px;

            color: $title-text-color;
            font-weight: bold;
        }
    }
}

@mixin input-wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    width: 100%;
    min-height: $input-height;
}

@mixin input {
    --number-of-right-side-spaces: 2;
    display: block;
    position: relative;
    z-index: 1;

    width: calc(100% - var(--input-height) * var(--number-of-right-side-spaces));
    height: var(--input-height);

    border: none;
    outline: none;

    padding-left: $input-padding;

    font-size: $input-font-size;
    color: $text-color;
    font-family: inherit;

    background-color: transparent;
    &.empty {
        opacity: 0;
        &:focus {
            opacity: 1;
        }
    }

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        display: none;
    }

    &.textarea {
        --number-of-lines: 7;
        --input-line-height: calc(var(--input-font-size) + 3px);
        --input-padding: calc((var(--input-height) - var(--input-line-height)) / 2);
        overflow-x: hidden;
        overflow-y: auto;
        resize: none;

        height: calc(var(--input-line-height) * var(--number-of-lines) + var(--input-padding) * 2);

        padding-top: var(--input-padding);
        padding-bottom: var(--input-padding);

        line-height: var(--input-line-height);

        transition: height $transition-time;
        &::-webkit-scrollbar {
            width: 5px;
        }
        &::-webkit-scrollbar-track {
            box-shadow: inset 0 0 2px grey;
            border-radius: 3px;
        }
        &::-webkit-scrollbar-thumb {
            background: rgba(0, 255, 255, 0.5);
            border-radius: 3px;
        }
        &::-webkit-scrollbar-thumb:hover {
            background: rgba(0, 255, 255, 1);
        }

        &.empty {
            height: var(--input-height);
            &:focus {
                height: calc(var(--input-line-height) * var(--number-of-lines) + var(--input-padding) * 2);
            }
        }

        // &:hover {
        //     overflow-y: auto;
        // }
    }

    &[type='datetime-local'] {
        &::-webkit-calendar-picker-indicator {
            border-radius: 3px;

            padding: 5px;

            color: white;

            background-color: var(--title-text-color);

            cursor: pointer;
        }
    }
}

@mixin icon-container {
    display: none;
    &.display {
        display: block;
    }

    width: $input-height;
    aspect-ratio: 1;

    background-color: transparent;

    cursor: default;
    > .icon {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;
        height: 100%;

        font-size: calc(var(--input-height) * 0.7);
        font-family: var(--font-google-icons);

        user-select: none;
    }
    > .helper-text {
        display: block;

        width: 100%;
        height: 0px;
        > div {
            display: none;
            position: relative;
            z-index: 10;

            left: calc($helper-text-width * -1);
            top: calc($input-height * -0.5);

            width: $helper-text-width;
            height: auto;

            border-radius: 5px;

            padding: 5px;

            color: white;

            background-color: black;
        }
    }
    &:hover {
        > .helper-text.displayable {
            > div {
                display: block;
            }
        }
    }
}

@mixin button-container {
    display: none;
    &.display {
        display: block;
    }
    overflow: visible;

    width: $input-height;
    aspect-ratio: 1;

    cursor: pointer;
    > .icon {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;
        height: 100%;

        font-size: calc(var(--input-height) * 0.7);
        font-family: var(--font-google-icons);

        user-select: none;
    }
    > .tooltip {
        display: block;

        width: 100%;
        height: 0px;
        > div {
            display: none;
            position: relative;
            z-index: 10;

            left: calc($helper-text-width * -1);
            top: calc($input-height * -0.5);

            width: $helper-text-width;
            height: auto;

            border-radius: 5px;

            padding: 5px;

            color: white;

            background-color: black;
        }
    }
    &:hover {
        > .tooltip.displayable {
            > div {
                display: block;
            }
        }
    }
}

@mixin underline {
    display: block;
    overflow: hidden;

    width: 100%;
    height: 2px;

    background-color: $underline-color;
    > div {
        display: block;
        height: 100%;

        width: 0%;

        margin-left: auto;
        margin-right: auto;

        background-color: $title-text-color;

        transition: width $transition-time;
        transition-delay: $transition-time;
    }

    &.display {
        > div {
            width: 100%;
        }
    }
}

.lapis-input {
    @include variables();
    > .title {
        @include title();
    }
    > .input-wrap {
        @include input-wrap();
        > .input {
            @include input();
        }
        > .button-container {
            @include button-container();
        }
        > .icon-container {
            @include icon-container();
        }
    }
    > .underline {
        @include underline();
    }
}
