@mixin root {
    display: none;
    &.display {
        display: block;
    }

    width: var(--input-height);
    aspect-ratio: 1;

    background-color: transparent;

    cursor: default;
}

@mixin icon {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    font-size: calc(var(--input-height) * 0.7);
    font-family: var(--font-google-icons);

    user-select: none;
}

@mixin helper-text {
    display: block;

    width: 0px;
    height: 0px;
    > div {
        display: none;
        position: relative;
        z-index: 10;

        left: calc(var(--helper-text-width) * -1);
        top: calc(var(--input-height) * -0.5);

        width: var(--helper-text-width);
        height: auto;

        border-radius: 5px;

        padding: 5px;

        color: white;

        background-color: black;
    }
}

@mixin helper-text-hover {
    > div {
        display: block;
    }
}

.helper-icon {
    @include root();
    > .icon {
        @include icon();
    }
    > .helper-text {
        @include helper-text();
    }

    &:hover {
        > .helper-text.displayable {
            @include helper-text-hover();
        }
    }
}
