.promotion-info {
    display: block;
    overflow: hidden;

    width: 100%;
    height: auto;

    border: 2px solid orangered;
    border-radius: 5px;

    margin: 10px 0px;

    > h2 {
        display: block;

        width: 100%;

        padding: 5px 5px 5px 15px;

        color: orangered;

        background-color: rgba(255, 100, 0, 0.2);
    }

    > .list {
        display: block;

        width: 100%;
        height: auto;

        padding: 10px;

        > li {
            display: block;

            width: 100%;

            margin-bottom: 0.3em;

            text-align: justify;

            list-style-type: none;

            &::before {
                content: 'sell';

                font-weight: bold;

                font-family: var(--font-google-icons);
                margin: 0px 5px;
                color: orangered;
            }

            &:nth-last-child(1) {
                margin-bottom: 0px;
            }
        }
    }
}
