.buttons {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
    height: auto;

    padding: 20px 0px;

    > * {
        margin-right: 20px;
        &:nth-last-child(1) {
            margin-right: 0px;
        }
    }

    > button {
        display: block;

        width: auto;
        height: 50px;

        outline: none;
        border: none;
        border-radius: 5px;

        padding: 0px 10px;

        font-size: 1.2rem;
        font-weight: bold;

        &.add-to-cart {
            display: none;
            border: 2px solid orangered;
            color: orangered;
            background-color: transparent;

            &.display {
                display: block;
            }
        }

        &.buy-now {
            color: white;
            background-color: orangered;
        }
    }

    > .quantity {
        display: none;
        align-items: center;

        width: auto;
        height: 50px;

        > label {
            margin-right: 10px;
        }

        &.display {
            display: flex;
        }
    }
}
