.lapis-cover {
    display: block;
    position: fixed;
    z-index: 0;
    //
    width: 100vw;
    height: 100vh;
    //
    top: 0px;
    left: 0px;
    //
    background-color: rgba(0, 0, 0, 0);
}

.lapis-cover.hide {
    display: none;
}
