.underline {
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--underline-color);
    > div {
        display: block;

        width: 0%;
        height: 100%;

        margin-left: auto;
        margin-right: auto;

        background-color: var(--title-text-color);

        transition: all var(--transition-time);
        transition-delay: var(--transition-time);

        &.focus {
            width: 100%;
        }
    }
}
