@mixin root {
    display: block;
    width: 100%;
    height: var(--title-height);
}

@mixin title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;

    top: var(--title-height);

    width: calc(100% - var(--input-height) * 2);
    height: var(--input-height);

    padding-left: var(--input-padding);

    font-size: var(--input-font-size);
    color: var(--text-color);
    font-family: inherit;

    transition: top var(--transition-time);

    &.focus {
        top: 0px;

        height: 100%;

        font-size: 14px;

        color: var(--title-text-color);
        font-weight: bold;
    }
}

.title {
    @include root();
    > div {
        @include title();
    }
}
