@mixin root {
    display: block;
    width: 100%;
    height: 0px;
}

@mixin ul {
    display: block;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 2;

    width: 100%;
    height: auto;
    max-height: 0px;

    border-radius: 0px 0px 5px 5px;

    background-color: rgba(0, 50, 50, 0.97);

    transition: all var(--transition-time);
    &.focus {
        max-height: 400px;
    }

    &::-webkit-scrollbar {
        width: 5px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 3px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        background-color: rgb(175, 175, 180);
        border-radius: 3px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background-color: rgb(200, 220, 255);
    }
}

@mixin li {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    padding-left: var(--input-padding);

    width: 100%;
    height: 40px;

    color: var(--text-color);

    cursor: pointer;

    &.selected,
    &:hover {
        background-color: rgba(0, 100, 100, 0.5);
    }
}

.options {
    @include root();
    > ul {
        @include ul();
        > li {
            @include li();
        }
    }
}
