.lapis-search {
    --lapis-search-width: 500px;
    --lapis-search-height: 40px;

    --lapis-search-background-color: rgb(255, 255, 255);
    --lapis-search-button-background-color: rgb(0, 255, 255);

    //
    display: block;
    overflow: visible;
    //
    width: var(--lapis-search-width);
    height: var(--lapis-search-height);
    max-width: 100%;
    //
    > .wrap {
        display: block;
        overflow: hidden;
        position: relative;
        z-index: 0;
        //
        width: 100%;
        height: auto;
        //
        // background-color: rgb(53, 53, 53);
        background-color: var(--lapis-search-background-color);
        //
        border-radius: calc(var(--lapis-search-height) * 0.5);
        //
        transition: all 0.5s;
    }
}

//
.lapis-search {
    &.display-suggestion {
        > .cover {
            z-index: 100;
        }
        > .wrap {
            z-index: 101;
            border-radius: 5px;
            box-shadow: 2px 2px 4px black;
        }
    }
}
