@mixin lapis-circular-button {
    display: block;
    overflow: visible;
    //
    width: 40px;
    height: 40px;
    //
    outline: none;
    border: none;
    //
    border-radius: 50%;
    //
    color: inherit;
    text-decoration: none;
    //
    background-color: rgba(255, 255, 255, 0.1);
    //
    cursor: pointer;
}

@mixin lapis-circular-button-hover {
    position: relative;
    z-index: 100;
    background-color: rgba(0, 100, 100, 1);
}

@mixin icon {
    display: block;
    //
    width: 100%;
    height: 100%;
    //
    font-family: 'Material Icons Outlined', var(--font-google-icons);
    font-weight: 800;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    color: rgba(0, 150, 150, 1);
}
@mixin icon-hover {
    color: var(--header-background-color);
    color: white;
}

@mixin tooltip {
    display: none;
    position: relative;
    z-index: 100;
    //
    top: 5px;
    left: -40px;
    //
    width: 120px;
    height: auto;
    //
    padding: 5px;
    //
    border-radius: 5px;
    //
    color: white;
    font-weight: 500;
    font-size: 13px;
    text-align: center;
    //
    background-color: rgba(0, 100, 100, 0.9);
}

@mixin tooltip-hover {
    display: block;
}

.lapis-circular-button {
    @include lapis-circular-button();
    > .icon {
        @include icon();
    }
    > .tooltip {
        @include tooltip();
    }
}

.lapis-circular-button:hover {
    @include lapis-circular-button-hover();
    > .icon {
        @include icon-hover();
    }
    > .tooltip {
        @include tooltip-hover();
    }
}
