.product-info {
    display: block;

    width: 100%;
    height: auto;

    padding: 2px;

    margin: 10px 0px;

    > h2 {
        display: block;

        width: 100%;
        height: auto;

        padding-left: 15px;
        // padding: 5px 5px 5px 15px;
    }

    > .list {
        display: block;

        padding: 10px;

        > li {
            display: block;

            width: 100%;

            margin-bottom: 0.3em;

            text-align: justify;

            list-style-type: none;

            &::before {
                content: 'check';

                font-weight: bold;

                font-family: var(--font-google-icons);
                margin: 0px 5px;
                color: orangered;
            }

            &:nth-last-child(1) {
                margin-bottom: 0px;
            }
        }
    }
}
