@mixin declare-variables {
    --lapis-text-color: rgb(255, 255, 255);
    --lapis-highlight-color: rgb(255, 255, 255);
    --lapis-width: 400px;
    --lapis-transition-time: 0.3s;
    --lapis-underline-color: rgba(255, 255, 255, 0.2);
    --lapis-input-padding: 5px;
    --lapis-underline-height: 2px;
    --lapis-message-width: 150px;
    --lapis-message-font-size: 14px;
    --lapis-text-area-number-of-lines: 5;

    --lapis-input-title-height: 20px;
    --lapis-input-input-height: 30px;
}

$input-padding: 5px;

@mixin scroll-bar {
    &::-webkit-scrollbar {
        width: 5px;
    }
    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 1px grey;
        border-radius: 2px;
    }
    &::-webkit-scrollbar-thumb {
        background: rgba(0, 255, 255, 0.5);
        border-radius: 2px;
    }
    &::-webkit-scrollbar-thumb:hover {
        background: rgba(0, 255, 255, 1);
    }
}

@mixin title {
    display: block;
    width: 100%;
    height: var(--lapis-input-title-height);
    > div {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        z-index: 0;
        //
        top: var(--lapis-input-title-height);
        //
        width: 100%;
        height: var(--lapis-input-input-height);
        //
        padding-left: $input-padding;
        //
        font-size: 17px;
        color: var(--lapis-text-color);
        //
        transition: all 0.3s;
    }
}

@mixin handlerTitleTypingAndNotEmpty {
    > div {
        top: 0px;
        //
        height: 100%;
        //
        font-size: 13px;
        color: var(--lapis-highlight-color);
    }
}

@mixin input-wrap {
    display: block;
    width: 100%;
    height: auto;
    min-height: var(--lapis-input-input-height);
    //
}

@mixin textarea {
    display: block;
    overflow: auto;
    float: left;
    position: relative;
    z-index: 0;
    //
    width: 100%;
    height: var(--lapis-input-input-height);
    min-height: var(--lapis-input-input-height);
    resize: none;
    //
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: $input-padding;
    padding-right: $input-padding;
    //
    line-height: 30px;
    font-size: 17px;
    color: var(--lapis-text-color);
    font-family: inherit;
    //
    outline: unset;
    border: none;
    //
    background-color: rgba(0, 0, 0, 0);
    transition: height var(--lapis-transition-time);
}

@mixin handlerTextAreaTypingAndNotEmpty {
    height: calc(var(--lapis-input-input-height) * var(--lapis-text-area-number-of-lines));
}

@mixin underline {
    display: block;
    overflow: hidden;
    //
    width: 100%;
    height: var(--lapis-underline-height);
    background-color: var(--lapis-underline-color);
    > div {
        display: block;
        height: 100%;
        width: 0%;
        margin-left: auto;
        margin-right: auto;
        background-color: var(--lapis-highlight-color);
        transition: width var(--lapis-transition-time);
        transition-delay: var(--lapis-transition-time);
    }
}

@mixin handlerUnderlineTypingAndNotEmpty {
    > div {
        width: 100%;
    }
}

@mixin lapis-text-area {
    display: block;
    //
    width: var(--lapis-width);
    height: auto;
}

//
.lapis-text-area {
    @include declare-variables();
    @include lapis-text-area();
    //
    > .title {
        @include title();
    }
    > .input-wrap {
        @include input-wrap();
        > textarea {
            @include textarea();
            @include scroll-bar();
        }
    }
    > .underline {
        @include underline();
    }
}

// on typing || not-empty
.lapis-text-area.not-empty,
.lapis-text-area.typing,
.lapis-text-area.typing.not-empty {
    > .title {
        @include handlerTitleTypingAndNotEmpty();
    }
    > .input-wrap {
        > textarea {
            @include handlerTextAreaTypingAndNotEmpty();
        }
    }
    > .underline {
        @include handlerUnderlineTypingAndNotEmpty();
    }
}
