.product-specifications {
    display: block;

    width: 100%;
    height: auto;

    > h2 {
        display: flex;
        align-items: center;

        width: 100%;
        height: 50px;
    }

    > ul {
        display: block;

        width: 100%;
        height: auto;

        border-radius: 3px;
        // border: thin solid rgba(0,0,0,0.1);

        > li {
            display: flex;
            justify-content: space-between;
            align-items: center;

            width: 100%;
            height: auto;
            min-height: 40px;

            padding: 5px 5px;

            &:nth-child(odd) {
                background-color: rgba(100, 255, 255, 0.1);
            }

            > .name {
                display: block;
                width: 150px;
                height: auto;
                font-weight: 700;
            }
            > .value {
                display: block;
                width: calc(100% - 160px);
                height: auto;
            }
        }
    }
}
