.price {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
    height: auto;

    padding: 5px 0px;

    margin: 10px 0px;

    font-family: Arial, Helvetica, sans-serif;

    > strong {
        color: orangered;
        font-size: 1.4rem;
    }

    > span {
        font-size: 0.9rem;
        margin-left: 15px;
        color: gray;
        text-decoration: line-through;
    }

    > strong,
    > span {
        &::after {
            content: '\20ab';
            position: relative;
            top: -0.25em;
        }
    }

    > i {
        display: inline-block;

        width: auto;
        height: 30px;

        border-radius: 5px;

        padding: 0px 10px;

        margin-left: 15px;

        color: white;
        font-weight: bold;
        text-align: center;
        line-height: 30px;

        background-color: orangered;

        &::before {
            content: 'Giảm ';
        }

        &::after {
            content: ' %';
        }
    }
}
